@{
    ViewData["Title"] = "Page d'accueil";
}
<div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="/img/accueilCinema.jpg" alt="salle_cinema">
        <div class="carousel-caption d-none d-md-block">
            <h1>Bienvenue sur notre site de gestion de cinéma! </h1>
        </div>
    </div>
</div>