@model GestionCinema.Models.Film

@{
    ViewData["Title"] = "Supression d'un film";
}
<h2 class="mb-5">| Suppression du film @Html.DisplayFor(model => model.Nom) </h2>
    <div class="container pt-4">
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <h5 class="text-center mb-4">Etes vous sûr de vouloir supprimer ce film?</h5>
        <div class="text-center mb-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Suppprimer" class="btn btn-danger" />
                </div>
            }
        </div>
        <div class="mt-5 pt-5">
            <a class="text-decoration-none" asp-action="Details" asp-route-id="@Model.Id"><i
                    class="bi bi-arrow-left-circle-fill"></i> Retour à
                la page précédente</a>
        </div>
    </div>
