@model GestionCinema.Models.Film

@{
    ViewData["Title"] = "Modifier le film";
}
<h2 class="mb-5">| Modifier @Html.DisplayFor(model => model.Nom)</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <fieldset class="fieldset-style p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row px-4 py-2">
            <div class="col-sm-4">
                <label asp-for="Nom" class="control-label"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row px-4 py-2">
            <div class="col-sm-4">
                <label asp-for="Realisateur" class="control-label"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Realisateur" class="form-control" />
                <span asp-validation-for="Realisateur" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row px-4 py-2">
            <div class="col-sm-4">
                <label asp-for="Resume" class="control-label"></label>
            </div>
            <div class="col-sm-6">
                <textarea asp-for="Resume" class="form-control" name="Resume" cols="40" rows="5"></textarea>
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row px-4 py-2">
            <div class="col-sm-4">
                <label asp-for="Genre" class="control-label"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row px-4 py-2">
            <div class="col-sm-4">
                <label asp-for="Date" class="control-label"></label>
            </div>
            <div class="col-sm-6">
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row px-4 py-2">
            <div class="col-sm-4">
                <label asp-for="Duree" class="control-label"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Duree" class="form-control" />
                <span asp-validation-for="Duree" class="text-danger"></span>
            </div>
        </div>
    </fieldset>
    <div class="form-group text-center mt-4">
        <input type="submit" value="Modifier" class="btn btn-primary" />
    </div>
</form>

<div class="text-center mt-3">
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="bi bi-trash3-fill"></i>
        Supprimer</a>
</div>
<div>
    <a asp-action="Index">Retour à la liste</a>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
