@model GestionCinema.Models.Salle

@{
    ViewData["Title"] = "Ajouter une salle";
}
<div class="text-center">
    <h1>Ajouter une salle</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <select asp-for="Cinema" class="px-5 py-1" name="Cinema">
                        @foreach (var cinema in (List<Cinema>)ViewData["cinemas"])
                        {
                            <option value="@cinema">@cinema.Nom</option>
                        }
                    </select>
                    <span asp-validation-for="Cinema" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NbPlace" class="control-label"></label>
                    <input type="number" asp-for="NbPlace" class="form-control" />
                    <span asp-validation-for="NbPlace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroSalle" class="control-label"></label>
                    <input type="number" asp-for="NumeroSalle" class="form-control" />
                    <span asp-validation-for="NumeroSalle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Ajouter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
