@model GestionCinema.Models.Salle

@{
    ViewData["Title"] = "Supression d'une salle";
}
<h2 class="mb-5">| Suppression de la salle @Html.DisplayFor(model => model.NumeroSalle)</h2>

<div class="text-center">
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <p>Etes vous sûr de vouloir supprimer cette salle?</p>

    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Suppprimer" class="btn btn-danger" />
            </div>
        }
    </div>
</div>

<div class="mt-5">
    <a class="text-decoration-none" asp-action="Index"><i class="bi bi-arrow-left-circle-fill"></i> Retour à
        la page précédente</a>
</div>
